html, body {
    height: 100%;
}

body{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img{
    max-width: 100%;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: rgba(216, 196, 13, 0.438);
    border: 10px solid rgba(175, 159, 15, 0.452);
    border-radius: 1em;
    border-top-left-radius: 10% 30%;
    border-top-right-radius: 10% 30%;
}

.wraper{
    margin-top: 10px;
    padding: 10px;
    overflow: auto;

    border-radius: 1em;
    background-color: rgba(216, 196, 13, 0.438);

}

.wrapper::after {
    content: "";
    clear: both;
    display: block;
  }

.imageMainBludo{
    display: block;
    float: left;
    width: 500px;
    height: 400px;

    margin-left: 40px;
    margin-right: 40px;
    border-radius: 2em;
    border: 5px solid rgba(175, 159, 15, 0.452);

}

.pDescription{
    display: block;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
    text-align: left;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin: 0;
}

h2{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.h2ListIngridient{
    display: block; 
    margin: 0;
    padding: 0;
}

.listIngridiend{
    display: inline-block;
    margin-top: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    background: rgba(175, 159, 15, 0.452);
    border-radius: 1em;
}

.listIngridiend li{
    list-style-type: "✅";
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
}

.stepDiscrp{
    text-align: center;
    margin: 0;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

.timeCocking{
    margin-top: 10px;
    text-align: center;
}

.alingItem{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stepCocking{
    margin-bottom: 50px;
    margin-left: 10px;
    width: 700px;
    border: 5px solid rgba(175, 159, 15, 0.61);
    border-radius: 1em;
    background-color: rgba(175, 159, 15, 0.322);

}

.stepCocking h3{
    margin: 0;
    padding-bottom: 10px;
}

.stepCocking img{
    border-radius: 1em;
}

.stepCocking p{
    padding-right: 12px;
    padding-left: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
}

.notice{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    border: 5px solid rgba(175, 159, 15, 0.61);
    border-radius: 1em;
    background-color: rgba(175, 159, 15, 0.322);
}

